<div class="player-profile">
    @if (!loading && playerInfo) {
        <player-statistics [playerId]="playerId"></player-statistics>

        <div class="player-profile__details">
            <div class="player-profile__details--info">
                <div class="player-profile-details">
                    <app-player-avatar [username]="playerInfo.username"></app-player-avatar>
                    <div class="player-profile-details__player-info">
                        <div class="player-profile-details__player-info--username">{{playerInfo.username}}</div>
                        <div class="player-profile-details__player-info--name">{{playerInfo.firstName}} {{playerInfo.lastName}}</div>
                    </div>

                </div>
                <div class="player-profile-details__buttons">
                    <button class="button-with-icon" (click)="sendInvite(playerInfo.playerId)" [disabled]="sendingInvite">
                        <tictoe-icon type="person_add"></tictoe-icon>
                        <div>Send invite</div>
                    </button>
                    <button class="button-with-icon">
                        <tictoe-icon type="chat"></tictoe-icon>
                        <div>Send message</div>
                    </button>
                </div>

            </div>
            <div class="player-profile__details--history">
                <short-game-history [playerId]="playerId"></short-game-history>
            </div>
        </div>


    }
</div>
