\:host
    display: flex
    .friends-list
        width: 300px
        height: 100%
        background-color: var(--panel-color)
        border-radius: 16px

        &__header
            text-align: center
            color: var(--text-color)
            font-size: 18px
            margin-top: 16px

        &__search
            margin: 24px
