\:host
    display: flex
    width: 100%

    .invites-widget
        display: flex
        width: 100%
        background-color: var(--panel-color)
        border-radius: 16px
        height: 385px
        box-sizing: border-box
