\:host
    display: flex
    width: 100%

    .game-widget
        display: flex
        flex-direction: column
        width: 100%
        background-color: var(--panel-color)
        border-radius: 16px
        box-sizing: border-box

        &__header
            font-size: 18px
            font-weight: 600
            color: var(--text-color)
            padding: 16px
        &__creating-game-container
            display: flex
            flex-direction: column
            flex: 1
            justify-content: center
            gap: 32px
            padding: 32px

            .button-with-icon
                font-size: 16px

