\:host
    display: flex
    flex: 1

    .leaderboard
        display: flex
        flex: 1

        &__table
            display: flex
            flex-direction: column
            width: 100%
            flex: 1
            background-color: var(--panel-color)
            border-radius: 16px


