\:host
    display: flex
    .invite
        display: flex
        flex-direction: column
        gap: 16px
        flex: 1
        padding: 16px
        border-radius: 16px
        background-color: var(--panel-secondary-color)
        margin: 0 16px
        &__details
            font-size: 14px
            color: var(--text-color)
            font-weight: 500

        &__actions
            display: flex
            justify-content: flex-start
            gap: 16px

            .button-with-icon
                padding: 4px 8px
                gap: 4px
