\:host
    display: flex
    flex: 1
    .leaderboard-element
        display: flex
        flex: 1
        background-color: var(--card-bg)
        padding: 16px
        margin: 8px 16px
        border-radius: 16px
        &__player-info
            display: flex
            flex: 2
            gap: 16px
            justify-content: flex-start
            align-items: center

            &--avatar
                width: 40px
                height: 40px
            &--details
                display: flex
                flex-direction: column
                .leaderboard-username
                    font-size: 16px
                    color: var(--text-color)
                .leaderboard-points
                    font-size: 14px
                    color: var(--placeholder-text)
        &__player--statistics
            display: flex
            flex: 1
            gap: 24px
            justify-content: flex-end
            align-items: center
            .leaderboard-statistic-container
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center

                &__number
                    font-size: 20px
                    font-weight: 600
                    &.wins
                        color: var(--success)
                    &.losses
                        color: var(--error)
                    &.draws
                        color: var(--info-text)
                &__text
                    font-size: 14px
                    color: var(--placeholder-text)


