\:host
    display: flex
    height: 100%
    .user-profile
        display: flex
        align-items: center
        justify-content: center
        position: relative
        &__container
            height: 40px
            width: 40px
            background-color: var(--panel-light-color)
            color: #ffffff
            font-size: 18px
            font-weight: bold
            border-radius: 50%
            display: flex
            align-items: center
            justify-content: center
            cursor: pointer
            &:hover
                background-color: var(--button-hover-bg)
        .user-profile-options
            position: absolute
            background-color: var(--panel-secondary-color)
            padding: 16px
            display: flex
            flex-direction: column
            top: 60px
            right: 18px
            width: 300px
            border-radius: 8px
            z-index: 2
            &__header
                margin-bottom: 8px
                border-bottom: 1px solid var(--input-bg)
                padding: 0 0 8px 0
                &--name
                    color: var(--text-color)
                    font-size: 16px
                &--email
                    color: var(--placeholder-text)
                    font-size: 12px
            &__option
                margin: 8px 0
                color: var(--secondary-text-color)
                font-size: 14px
                padding: 8px 0
                cursor: pointer
                text-align: center
                border-radius: 8px
                &:hover
                    background-color: var(--button-hover-bg)
